<table class="table">
  <tr>
    <td>Sub total</td>
    <td>&#8369; {{ basket.subTotal | number_format(2) }}</td>
  </tr>
  <tr>
    <td>Shipping</td>
    <td>&#8369; 30.00</td>
  </tr>
  <tr>
    <td class="success">Total</td>
    <td class="success">&#8369; {{ basket.subTotal + 30 | number_format(2) }}</td>
  </tr>
</table>
